import streamlit as st
import requests
import pandas as pd
import base64
from datetime import date, timedelta, datetime
from io import BytesIO
from fpdf import FPDF
import plotly.express as px
from pathlib import Path
